<!doctype html>
<!-- At the moment, this is just for testing -->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Volunteer Network</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <header>
        <div class="logo">Volunteer <span style="color:#FFD700;">NET</span></div>
        <div class="sign-in-container">
            <a href="signin.html" class="sign-in-button">Sign In</a> <!-- change this once correct sign in-->
        </div>
    </header>
    <main1>
        <section class="welcome">
            <br><br><br><br><br><br><br><br>
            <h1>Welcome to Volunteer Network</h1>
            <p>Your one stop to start your volunteering journey.</p>
            <a href="searchpage.html" class="start-searching">Start Searching Now</a>
        </section>
        <section class="info">
            <p>This is some information about the Volunteer Network...</p>
        </section>
    </main1>
</body>
</html>
